.Movie-Container{
  height: 600px;
  width: 240px;
  padding: 10px 10px 10px 10px;
}

.Movie-Poster{
  height: 300px;
  width: 240px;
  object-fit: cover;
}
.Movie-name{
  font-size: medium;
  font-weight:800;
}

.Movie-Summary{
  font-size: small;
}
.Movie-header{
  display: flex;
  text-align: justify;
  justify-content: space-between;
}

.Movies{
  display: flex;
  padding: 10px 10px 10px 10px;
  gap:24px;
  flex-wrap: wrap;
  justify-content: center;
}

.likes-dislikes{
  margin: 10px 10px 10px 10px;
}